services:
  web-check:
    container_name: Web-Check-Checkit
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "3003:4321"
      - "3004:3001"
    restart: unless-stopped
    environment:
      - NODE_ENV=development
      - PORT=3001
